    <p style="color: white;text-align: center;font-weight: bold">
      In honor of our new collection, MegaPixel FX, we are giving our fans the opportunity to pixelate themselves! Upload a photo from your computer, then use the slide bar below to decide how pixelated you want your picture. Once you're done with your digitized masterpiece you can share it with all your friends via Facebook, Twitter, or email. Have fun and keep it family friendly, please!
    </p>
