 
  <% unless flash[:error].nil?%>  
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">X</button>
    <strong><%=flash[:error]%></strong>
  </div>
  <%end%>
    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <!--input type="text" class="input-block-level" placeholder="Email address">
        <input type="password" class="input-block-level" placeholder="Password">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label-->
        <%= link_to image_tag("images.jpg"), '/auth/facebook/' %>
      </form>

    </div>
    <script>
  // Additional JS functions here
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '342990409138730', // App ID
      //channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional init code here

  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
  //window.open="FB.login(function(response){},{scope:'email,publish_stream'});"
</script>
   
<a href="#" onclick="FB.login(function(response){alert(response.status);},{scope:'email,publish_stream'});">Click</a>
